@inherits LayoutComponentBase
<RadzenComponents @rendermode="InteractiveAuto" />

<RadzenLayout>
    <RadzenHeader>
        <RadzenSplitter>
            <RadzenSplitterPane Size="20%" Min="20px" Max="20%">
                <RadzenSidebarToggle Click="@(() => Toggle())" />
                <RadzenLabel Text="Quiz App" />
            </RadzenSplitterPane>
            <RadzenSplitterPane>
                <Login />
            </RadzenSplitterPane>
        </RadzenSplitter>
    </RadzenHeader>
    <NavMenu IsSideBarExpanded="sidebar1Expanded" />
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
        <div id="blazor-error-ui" data-nosnippet>
            An unhandled error has occurred.
            <a href="." class="reload">Reload</a>
            <span class="dismiss">🗙</span>
        </div>
    </RadzenBody>
    <RadzenFooter>
        Footer
    </RadzenFooter>
</RadzenLayout>

@code {

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    bool sidebar1Expanded = true;
    private string Username = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if (authenticationState is not null)
        {
            var state = await authenticationState;
            Username = state?.User?.Identity?.Name ?? string.Empty;
        }
        await base.OnInitializedAsync();
    }

    private void Toggle()
    {
        sidebar1Expanded = !sidebar1Expanded;
    }
}


