@page "/"
<PageTitle>Home</PageTitle>

<h1>@Text</h1>

Welcome to your new app.

<RadzenButton Click="@ButtonClicked" Text="@Text"></RadzenButton>

@code {

    private string Text = "Hi";
    void ButtonClicked()
    {
        Text = "Hello";
    }
}