@page "/counter"
@rendermode InteractiveAuto
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="CallSecureEndpoint">Click me</button>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private async Task CallSecureEndpoint()
    {
        // try
        // {
        //     var response = await apiClient.GetScoreEndpointAsync();
        // }
        // catch (AccessTokenNotAvailableException ex)
        // {
        //     ex.Redirect();
        // }
    }
}
