@page "/quizzes"
@using QuizApp.Api
@using QuizApp.Common.DTO
@inject IQuizApiClient apiClient

<h3>Quiz Manager</h3>

<RadzenButton>Add Quiz</RadzenButton>

@if (Quizzes == null)
{
    <p>Loading...</p>
}
else if (!Quizzes.Any())
{
    <p>No quizzes available.</p>
}
else
{
    <RadzenDataGrid ColumnWidth="200px" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@Quizzes" TItem="QuizDTO">
        <Columns>
            <RadzenDataGridColumn Property="@(nameof(QuizDTO.Name))" Title="Name" Width="140px" />
            <RadzenDataGridColumn Property="@(nameof(QuizDTO.Description))" Title="Description" />
            <RadzenDataGridColumn Width="100px" Title="Actions">
                <Template Context="data">
                    <RadzenButton Icon="delete" Class="rz-button rz-danger" Style="margin-left: 5px" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}

@* <SaveQuizModal @ref="SaveQuizModal" OnSave="ReloadQuizzes" /> *@

@code {
    private List<QuizDTO> Quizzes { get; set; } = new List<QuizDTO>();
    //private SaveQuizModal SaveQuizModal { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await LoadQuizzes();
    }

    private async Task LoadQuizzes()
    {
        var a = await apiClient.GetQuizzesEndpointAsync();
        Quizzes = a.ToList();
    }

    private async Task ReloadQuizzes()
    {
        await LoadQuizzes();
    }

    private void AddNewQuiz()
    {
        //SaveQuizModal.Show(new QuizDTO());
    }

    private void EditQuiz(int quizId)
    {
        var quizToEdit = Quizzes.FirstOrDefault(q => q.Id == quizId);
        if (quizToEdit != null)
        {
            //SaveQuizModal.Show(quizToEdit);
        }
    }

    private async Task DeleteQuiz(int quizId)
    {
        //var confirm = await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete Quiz #{quizId}?");
        // if (confirm)
        // {
        //     //await QuizService.DeleteQuizAsync(quizId);
        //     await ReloadQuizzes();
        // }
    }
}
