@page "/"
@using Blazored.LocalStorage
@using QuizApp.Api
@using QuizApp.Common.DTO
@using System.Collections.ObjectModel
@using System.Security.Claims
@using QuizApp.Services
@inject DialogService dialogService;
@inject NavigationManager navigationManager
@inject IQuizApiClient apiClient
@inject ILocalStorageService localStorage
@inject IUserService userService
@attribute [StreamRendering]
@attribute [Authorize]

<PageTitle>Home</PageTitle>

@if(Quizzes == null)
{
    <p>Loading...</p>
}
else if(!Quizzes.Any())
{
    <h3>Awesome!!! You don't have any quiz to take'</h3>
}
else
{
    <RadzenDataList Data="@Quizzes" TItem="QuizDTO" PageSize="5">
        <Template Context="quiz">
            <RadzenCard Variant="Variant.Flat" class="rz-p-3">
                <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Left" AlignItems="AlignItems.Start">
                    <h3>@quiz.Name</h3>
                    <RadzenText>@quiz.Description</RadzenText>
                    <RadzenButton Click="@(() => TakeQuiz(quiz.Id.Value))">Take Quiz</RadzenButton>
                </RadzenStack>
            </RadzenCard>
        </Template>
    </RadzenDataList>
}

@code{

    private ObservableCollection<QuizDTO> Quizzes { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    bool sidebar1Expanded = true;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if (authenticationState is not null)
        {
            var state = await authenticationState;
            if (state.User.Identity.IsAuthenticated)
            {
                var nameIdentifier = state?.User?.Claims.ToList().FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier)?.Value ?? string.Empty;
                var currentLoginUserId = await apiClient.IsUserExistedEndpointAsync(nameIdentifier);
                if (currentLoginUserId == 0)
                {
                    var dto = await userService.CreateUserDTO();
                    currentLoginUserId = await apiClient.CreateUserEndpointAsync(dto);
                    if (currentLoginUserId < 0)
                    {
                        await dialogService.Alert("User creation failed");
                        return;
                    }
                }
                await SetItem(currentLoginUserId);
            }
        }
    }

    // TODO: Refactor. 
    // Blazor Server JWT error: JavaScript interop calls cannot be issued at this time
    private async Task SetItem(int userId)
    {
        try
        {
            await localStorage.SetItemAsync("currentLoginUserId", userId);
        }
        catch
        {

        }
    }

    private void TakeQuiz(int quizId)
    {
        navigationManager.NavigateTo($"/take-quiz/{quizId}");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (authenticationState is not null)
            {
                var state = await authenticationState;
                if (state.User.Identity.IsAuthenticated)
                {
                    var questionDTOs = await apiClient.GetQuizzesEndpointAsync();
                    if (questionDTOs == null)
                    {
                        return;
                    }

                    if (questionDTOs.Any())
                    {
                        Quizzes = new ObservableCollection<QuizDTO>(questionDTOs);
                    }
                    else
                    {
                        Quizzes = new ObservableCollection<QuizDTO>();
                    }
                }
            }
            StateHasChanged();
        }
    }
}